{% extends 'base.html' %}
{% load static %}
{% block content %}	
    <!-- ========================= hero-section start ========================= -->
    <section id="home" class="hero-section">
			<div class="hero-shape">
				<img src="{% static 'assets/img/hero/hero-shape.svg' %}" alt="" class="shape">
			</div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="hero-content">
              <h1 class="wow fadeInUp" data-wow-delay=".2s">Get What You Want <span>Wherever You Are</span> </h1>
              <p class="wow fadeInUp" data-wow-delay=".4s">
				Effortless Errands: Simplify life with our swift errand and delivery services. From groceries to packages, we've got you covered. Convenience at your doorstep, hassle-free.
			  </p>
              <a href="/items/" rel="nofollow" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".6s" style="border-radius: 30px;">Get Started</a>
            </div>
					</div>
					<div class="col-lg-6">
						<div class="hero-img wow fadeInUp" data-wow-delay=".5s">
							<img src="{% static 'assets/img/hero/hero-img.jpg' %}" alt="">
						</div>
					</div>
        </div>
      </div>
    </section>
		<!-- ========================= hero-section end ========================= -->
	
		<!-- ========================= service-section start ========================= -->
		<section id="services" class="service-section pt-150">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-6 col-lg-8">
						<div class="section-title text-center mb-70">
							<span class="wow fadeInUp" data-wow-delay=".2s">Delivery Services</span>
							<h1 class="wow fadeInUp" data-wow-delay=".4s">All Essentials You Need</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single-service wow fadeInUp" data-wow-delay=".2s">
							<div class="icon">
								<img src="{% static 'assets/img/service/service-icon-1.svg' %}" alt="">
							</div>
							<div class="content">
								<h3>Food</h3>
								<p>Savor instant delights! Fast, fresh, and fabulous food delivery tailored to your taste buds.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-service wow fadeInUp" data-wow-delay=".4s">
							<div class="icon">
								<img src="{% static 'assets/img/service/service-icon-2.svg' %}" alt="">
							</div>
							<div class="content">
								<h3>Grocery</h3>
								<p>Groceries galore! Swift delivery of fresh essentials, making your shopping list a breeze to conquer.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-service wow fadeInUp" data-wow-delay=".6s">
							<div class="icon">
								<img src="{% static 'assets/img/service/service-icon-3.svg' %}" alt="">
							</div>
							<div class="content">
								<h3>Furniture</h3>
								<p>Transform your space effortlessly. From selection to delivery, we bring your dream furniture to reality.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-service wow fadeInUp" data-wow-delay=".2s">
							<div class="icon">
								<img src="{% static 'assets/img/service/service-icon-4.svg' %}" alt="">
							</div>
							<div class="content">
								<h3>Medicine</h3>
								<p>Health at your doorstep! Timely medicine deliveries for your well-being, ensuring your peace of mind.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-service wow fadeInUp" data-wow-delay=".4s">
							<div class="icon">
								<img src="{% static 'assets/img/service/service-icon-5.svg' %}" alt="">
							</div>
							<div class="content">
								<h3>Electronics</h3>
								<p>Stay connected with ease. Fast and secure delivery of the latest gadgets and electronics.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-service wow fadeInUp" data-wow-delay=".6s">
							<div class="icon">
								<img src="{% static 'assets/img/service/service-icon-6.svg' %}" alt="">
							</div>
							<div class="content">
								<h3>Clothes</h3>
								<p>Fashion at your doorstep! Trendy clothing delivered fast, keeping you stylish without leaving your home.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= service-section end ========================= -->

		<!-- ========================= about-section start ========================= -->
		<section id="about" class="about-section pt-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="about-img wow fadeInUp" data-wow-delay=".5s">
							<img src="{% static 'assets/img/about/about-img.jpg' %}" alt="">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content">
							<div class="section-title">
								<span class="wow fadeInUp" data-wow-delay=".2s">About Us</span>
								<h1 class="wow fadeInUp" data-wow-delay=".4s">On-time Delivery and Customer Satisfaction</h1>
								<p class="wow fadeInUp" data-wow-delay=".6s">At our core, we prioritize punctuality and delighting customers. We excel in on-time deliveries, ensuring satisfaction with every service. Your happiness, our commitment.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= about-section end ========================= -->

		<!-- ========================= delivery-section start ========================= -->
		<section id="how" class="delivery-section pt-150">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="delivery-content">
							<div class="section-title">
								<span class="wow fadeInUp" data-wow-delay=".2s">Fast Delivery</span>
								<h1 class="mb-35 wow fadeInUp" data-wow-delay=".4s">Order Now, Recieve Within 30mins</h1>
								<p class="mb-35 wow fadeInUp" data-wow-delay=".6s">Experience instant gratification with our 'Order Now, Receive Within 30mins' promise. Swift, reliable, and on-demand service, ensuring your needs are met with speed and efficiency.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-7 order-first order-lg-last">
						<div class="delivery-img wow fadeInUp" data-wow-delay=".5s">
							<img src="{% static 'assets/img/delivery/delivery-img.jpg' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= delivery-section end ========================= -->

		<!-- ========================= about-section start ========================= -->
		<section id="received" class="about-section received-section pt-150">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-img received-img wow fadeInUp" data-wow-delay=".5s">
							<img src="{% static 'assets/img/received/received-img.jpg' %}" alt="">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content received-content">
							<div class="section-title">
								<span class="wow fadeInUp" data-wow-delay=".2s">Contactless Delivery</span>
								<h1 class="mb-25 wow fadeInUp" data-wow-delay=".4s">On-time Delivery to Your Doorstep</h1>
								<p class="wow fadeInUp" data-wow-delay=".6s">Reliable and efficient, our commitment is clear – on-time delivery to your doorstep. Experience convenience and trust with every order, ensuring your satisfaction, always.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= about-section end ========================= -->
	
    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>
	{% endblock %}